@use '../../sass/abstracts/mixins' as *;

main {
  height: 100vh;
  background-color: var(--color-background);
  background-image: url(demo/src/assets/img/bg-noise.png);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg) var(--spacing-xl);
  max-width: unset;
}

.logo-container {
  @include max-width(md) {
    text-align: center;
  }
}
.logo {
  width: 160px;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

::v-deep {
  form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    padding: var(--spacing-xl);

    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100%;
}

.link {
  text-align: center;
}
