.text-field {
  --color-border: #e3e5e6;
  --color-label: var(--color-title);
  --transition: all 150ms ease-in;

  /*
    DEJAMOS ESTO EN CASO DE QUE HAGA FALTA CAMBIAR EL COLOR DE TITULO 
    AL HACER CAMBIOS EN EL INPUT
  */
  // &.changed {
  //   label {
  //     --color-label: var(--color-primary);
  //   }
  // }

  .helper-error {
    margin-inline-start: var(--spacing-md);
    color: var(--color-danger);
  }

  .input-field {
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
    transition: var(--transition);

    input {
      font-size: var(--font-size-text);
      color: var(--color-text);
      padding-block: 14px;
      padding-inline-start: var(--spacing-md);
    }

    fieldset {
      border: transparent;
    }

    &.Mui-disabled {
      background-color: #eeeff0;
    }

    &.Mui-error {
      --color-border: var(--color-danger);
    }

    &.MuiInputBase-adornedStart {
      padding-inline-start: var(--spacing-md);

      input {
        padding-inline-start: 0;
      }
    }
  }

  label {
    color: var(--color-label);
    font-size: var(--font-size-input_label);
    transition: var(--transition);
    margin-bottom: var(--spacing-xs);
  }

  .help-tooltip {
    color: #b2b3b6;
  }
}
