.text-field {
  --color-label: var(--color-title);
  --color-multilang-bg: #f4f5f5;
  --transition: all 150ms ease-in;

  &.changed {
    --color-border: var(--color-text);
  }

  .helper-error {
    margin-inline-start: var(--spacing-md);
    color: var(--color-danger);
  }

  .input-field {
    --padding-start: var(--spacing-md);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
    transition: var(--transition);
    padding: 0;
    min-height: 40px;
    overflow: hidden;

    &::v-deep {
      fieldset {
        border: transparent;
      }

      input,
      textarea {
        font-size: var(--font-size-text);
        color: var(--color-text);
        padding-block: 10px;
        padding-inline-start: var(--spacing-md);
        max-height: 20px;
      }

      .preffix {
        background-color: var(--color-multilang-bg);
        border-right: 1px solid var(--color-border);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline-end: var(--spacing-md);
        padding: 0;
        width: 72px;
        color: var(--color-text);
      }
    }

    &.Mui-disabled {
      background-color: #eeeff0;
    }

    &.Mui-error {
      --color-border: var(--color-danger);
    }

    &:has(.preffix) {
      --padding-start: 0;
    }

    &.MuiInputBase-adornedStart {
      padding-inline-start: var(--padding-start);

      &::v-deep {
        input {
          padding-inline-start: 0;
        }
      }
    }

    &.MuiInputBase-adornedEnd {
      padding-inline-end: var(--spacing-md);
    }
  }

  label {
    color: var(--color-label);
    font-size: var(--font-size-input_label);
    transition: var(--transition);
    margin-bottom: var(--spacing-xs);
  }

  .help-tooltip {
    color: #b2b3b6;
  }
}
