@use './../../../sass/abstracts/mixins' as *;
.list-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.list-content-header {
  display: flex;
  gap: var(--spacing-sm);
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;

  &.start {
    flex-shrink: 1;
    min-width: 0;
  }

  &.end {
    flex-shrink: 0;
  }
}

::v-deep {
  .text-field {
    width: unset;
  }
  .input-field {
    background: var(--color-background);
    color: var(--color-text);
    @include max-width(md) {
      background: var(--color-background-elevated);
    }
  }
}

.filter-chips {
  display: flex;
  gap: var(--spacing-sm);
  flex-shrink: 1;
  overflow: auto;
  padding-bottom: 2px;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: var(--color-button);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-border);
  }
}

.card {
  padding-bottom: 0;
  @include max-width(md) {
    padding-block: 0;
  }
}
::v-deep {
  .cell {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
  }
}
