@use './../../sass/abstracts/mixins' as *;

.app-wrapper {
  height: 100vh;

  background-color: var(--color-background);
  background-image: url('./../../assets/img/bg-noise.png');

  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  flex: 1;

  overflow: auto;

  padding: var(--spacing-md);

  transition: var(--transition-all-1);

  @include min-width(sm) {
    padding-inline: var(--spacing-xxl);
    padding-block: var(--spacing-lg);
  }
}

.menu {
  background-color: var(--color-elevated-background);
}

.route-content {
  padding: var(--spacing-md);
  background-color: var(--color-elevated-background);
  box-shadow: var(--elevation-1);
  border-radius: var(--radius-lg);
}
