.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .end,
  .start {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
  }

  &::v-deep {
    .MuiBreadcrumbs-li:last-child {
      color: var(--color-title);

      p,
      a {
        font-weight: bold;
      }
    }

    .back-mobile {
      display: flex;
      align-items: center;
      color: var(--color-title);
      font-weight: bold;
    }
  }
}
