.light,
.toned,
.solid,
.outlined {
  min-width: auto;
  padding: var(--spacing-sm);
  height: fit-content;
  border-radius: var(--radius-md);
  box-sizing: border-box;
  text-transform: capitalize;

  &:disabled {
    background: #edeeef;
    color: #d1d1d3;
  }

  svg {
    color: currentColor;
  }
}

.light {
  background: var(--color-button);
  color: var(--color-text);

  &:active,
  &:hover {
    background: var(--color-background-elevated);
    color: var(--color-primary);
    box-shadow: 0px 0px 7px #1111111a;
  }
}

.toned {
  background-color: var(--color-primary-bg-toned);
  color: var(--color-primary);

  &:active,
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-button);
  }
}

.solid {
  background-color: var(--color-primary);
  color: var(--color-button);
  box-shadow: 0px 0px transparent;

  &:active,
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-button);
    box-shadow: 0px 3px 3px #51515159;
  }
}

.outlined {
  background-color: transparent;
  color: var(--color-text);
  border: 1px solid currentColor;
  box-shadow: 0px 0px transparent;

  &:active,
  &:hover {
    background: transparent;
    box-shadow: 0px 3px 7px #51515159;
  }
}
