$breakpoints: (
  xs: 0px,
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1536px,
);

@mixin max-width($key) {
  $size: map-get($breakpoints, $key);

  @if ($size) {
    @media only screen and (max-width: $size) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT (#{$key}), ALLOWED: [xs, sm, md, lg, xl]";
  }
}

@mixin min-width($key) {
  $size: map-get($breakpoints, $key);

  @if ($size) {
    @media only screen and (min-width: $size) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT (#{$key}), ALLOWED: [xs, sm, md, lg, xl]";
  }
}

@mixin min-max-width($key1, $key2) {
  $min: map-get($breakpoints, $key1);
  $max: map-get($breakpoints, $key2);

  @if ($min and $max) {
    @media only screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT (#{$key1}, #{$key2}), ALLOWED: [xs, sm, md, lg, xl]";
  }
}
