@use '../../library/src/sass/main.scss' as *;

:root {
  /** COLORS **/
  --color-primary: #ff664a;
  --color-primary-rgb: 255, 102, 74;
  --color-primary-tonal: #fff0ed;

  --color-secondary: #86daf2;
  --color-secondary-rgb: 134, 218, 242;
}
