@use '../../library/src/sass/main.scss' as *;

:root {
  /** COLORS **/
  --color-primary: #ff664a;
  --color-primary-rgb: 255, 102, 74;
  --color-primary-tonal: #fff0ed;

  --color-secondary: #86daf2;
  --color-secondary-rgb: 134, 218, 242;
  --color-secondary-tonal: hsl(193, 81%, 95%);

  --color-success: #58d9a2;
  --color-success-rgb: 88, 217, 162;

  --color-warning: #f8c14a;
  --color-warning-rgb: 248, 193, 74;

  --color-danger: #e54560;
  --color-danger-rgb: 229, 69, 96;
  --color-danger-tonal: hsl(350, 75%, 78%);
}
