.fieldsetContainer {
  position: relative;
  width: fit-content;
}

.uploader-backdrop {
  pointer-events: none;
  transition: var(--transition-all-1);
  position: absolute;
  inset: 0;
  border-radius: 20px;
  opacity: 0;
  z-index: 1;
  background: repeating-linear-gradient(
    -45deg,
    var(--color-primary),
    var(--color-primary) 20px,
    var(--color-primary-tonal) 20px,
    var(--color-primary-tonal) 26px
  );

  display: grid;
  place-items: center;

  color: var(--color-primary-tonal);
  font-size: 40px;
  font-weight: bold;
}

.dragging {
  .uploader-backdrop {
    opacity: 0.2;
  }
}
