@use './../../../../sass/abstracts/mixins' as *;

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  padding: var(--spacing-lg);
  width: 700px;
  max-width: 100%;

  @include max-width(md) {
    width: 320px;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.content-filter-row {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);

  @include max-width(md) {
    flex-direction: column;
    gap: var(--spacing-sm);

    button {
      width: 100%;
    }
  }

  button {
    height: 50px;
    aspect-ratio: 1;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include max-width(md) {
    flex-wrap: wrap;
    gap: var(--spacing-md);
  }
}

.buttons {
  display: flex;
  gap: var(--spacing-md);

  button {
    height: 40px;
    padding-inline: var(--spacing-lg);
  }
}
