table {
  width: 100%;
}

::v-deep {
  th {
    color: var(--color-text);
    font-weight: normal;
    font-size: 15px;
    white-space: nowrap;
  }

  tbody {
    tr {
      border-top: 1px solid var(--color-border);
    }

    td {
      font-size: 16px;
    }
  }

  .MuiTableCell-root {
    border: 0;
    padding: 8px;
    padding-inline: var(--spacing-md);
  }

  .actions-cell {
    display: flex;
    gap: var(--spacing-sm);
    justify-content: flex-end;
  }

  th,
  td {
    @for $i from 0 through 100 {
      &.size-#{$i} {
        width: #{$i * 1%};
      }
    }
  }
}
